body {overflow:auto;background:transparent;overflow-x:hidden;}
* {font:12px/150% tahoma,verdana,'宋体',sans-serif;margin:0;padding:0;}

/*layout*/
body {text-align:center;color:#666;margin-bottom:10px;}

#site-model {width:980px;margin:0 auto;text-align:left;padding-top:2px;}
#site-model ul {width:960px;margin-left:10px;height:28px;}

.tab {float:left;height:28px;width:125px;background-image:url(images/atabsn.png)}
.tabline1 {float:left;height:28px;width:10px;background-image:url(images/atabsl.png);background-repeat:repeat-x; background-position-y:bottom;}
.taby {float:left;height:28px;width:125px;background-image:url(images/atabsy.png)}
.tabline2 {float:left;height:28px;width:700px;background-image:url(images/atabsl.png);background-repeat:repeat-x; background-position-y:bottom;}

#site-nav {width:980px;margin:0 auto;text-align:left;padding-top:2px;}
#site-nav ul {width:960px;margin-left:10px;background:#dedede; height:28px;}
#site-nav ul li{width:60px;float:left;height:28px;line-height:28px;text-align:center;font-size:12px;font-weight:bold;}
#site-nav ul li.changetype:hover {cursor:hand;color:#fff;}
#site-nav ul li.current {background:#006965;color:#fff;}
#site-nav ul li.title {text-align:center;width:80px;height:28px;line-height:28px;font-size:12px;}
#site-nav ul li.arrow {cursor:hand;width:40px;height:28px;line-height:28px;font-size:12px;font-weight:bold;}
#site-nav ul li.datesel {width:90px;height:28px;line-height:28px;font-size:12px;font-weight:bold;}

#site-nav ul li input {width:80px;height:20px;cursor:pointer;};
#site-nav ul li button {width:60px;cursor:pointer;};

/*wrapper*/
#wrapper {width:980px;margin:0 auto;text-align:left;padding-top:2px;}
#wrapper .section {width:475px;margin:10px 0 0 10px;float:left;}
#wrapper h2 {height:30px;line-height:30px; 0 0 no-repeat;background:#70A090;}

#wrapper h2.search {background-position:0 -30px;}

#wrapper h2 .title {height:30px;line-height:30px;float:left;color:#fff;font-size:12px;font-weight:700;margin-left:5px;padding-left:0px;}

#wrapper h2 .more {height:30px;line-height:30px;float:right;}
#wrapper h2 .more a {height:30px;line-height:30px;float:right;color:#006965}
#wrapper h2 .more .ct {cursor:hand;height:30px;line-height:30px;float:right;font-size:12px;font-weight:700;color:#ffffff}

#wrapper .section .p8 {border:solid 1px #c7e3ed; width:475;height:300px; overflow-x:auto;overflow-y:auto;white-space:nowrap;scrollbar-base-color:#cfefcf; border:1px solid;}
#wrapper .section .glist1 li {line-height:25px;background:url(images/dot.png) 0 bottom repeat-x;height:25px;}
#wrapper .section .glist1 li .cat {font-weight:bold;padding-right:5px;}
#wrapper .section .glist1 li a {}
#wrapper .section .glist1 li .date {float:right;font-family:tahoma,sans-serif;font-size:11px;line-height:25px;height:25px;color:#999;} 
#wrapper .section .glist1 li.last {background:none;}

#wrapper .wsection {width:960px;margin:10px 0 0 10px;float:left;}
#wrapper .wsection .p8 {border:solid 1px #c7e3ed; width:960;height:300px; overflow-x:auto;overflow-y:auto;white-space:nowrap;scrollbar-base-color:#cfefcf; border:1px solid;}
#wrapper .lheader{height:30px;line-height:30px;float:left;color:#fff;font-size:24px;font-weight:bold;margin-left:5px;padding-left:0px;}

/*advancedSeachDiv*/
#advancedSeachDiv {width:958px;border:solid 1px #d1e29c;}

/*formGrid*/
.formGrid {clear:both;width:100%;display:block;cell-spacing:4px;}
.formGrid td {height:28px;}
.formGrid td.min {width:1%;white-space:nowrap;}

/*input normal text*/
input.text {border:solid 1px #CBCC66;height:22px;padding:0 3px;-moz-border-radius:3px;border-radius:3px;line-height:22px;}
input.textFocus {border:solid 1px #006965;}

/*gGrid*/
.oTable {clear:both;padding-top:10px;}

table.gGrid {width:100%;border-collapse:collapse;}
table.gGrid td {padding:0 3px;;border:solid 1px #d1e29c;height:28px;line-height:28px; white-space: nowrap; }
table.gGrid th {padding:0 3px;;border:solid 1px #d1e29c;height:28px;line-height:28px;background:url(images/th-bk.png) 0 0 repeat-x;text-align:center;white-space:nowrap;}
.nowrap {white-space:nowrap;}

table.oneRow {table-layout:fixed;}
table.oneRow td {white-space:nowrap;overflow:hidden;}

td.center {text-align:center;}
.gGrid tr.odd {background:#EDF6DA;}
.gGrid tr.hover {background:#eee;}
.gGrid tr.clicking {background:#c4ffc4;}


.gGrid .checkboxIn {width:2em;}
.gGrid .status {width:4em;}

table.gGrid td em {font-weight:700;margin:0 3px;}


/*ajax input*/
input.ajax {border:solid 1px #CBCC66;height:22px;padding:0 3px;line-height:22px;-moz-border-radius:0;padding-right:20px;background:#fff;background:#fff url(images/ajax-loader-start.gif) right center no-repeat;}
input.loading {background:#fff url(images/ajax-loader.gif) right center no-repeat;}

/*闫长永 20110810修改ajax遮盖date 将原先的z-index:2 改为z-index:0*/
.ajaxContainer {position:relative;display:inline-block;zoom:1;padding:2px;background:#eee;margin:0;z-index:0;}
.ajaxContent {position:absolute;top:23px;left:0;width:100%;background:#eee;display:none;;}
.ajaxContent ul {border:solid 1px #cbcc67;background:#fff;margin:2px;margin-top:0;overflow:auto;} 
.ajaxContent ul li {padding:0 3px;cursor:pointer;height:20px;line-height:20px;}
.ajaxContent ul li:hover {background:#e0e1a5}


.busy1 {font-weight:bold;color:#ff0000;}
.busy0 {font-weight:bold;color:#00aa55;}

/*闫长永20111201修改报表中滚动条有时不出现问题*/
.repgGrid {width:99%;border-collapse:collapse;}
.repgGrid td {padding:0 3px;;border:solid 1px #d1e29c;height:28px;line-height:28px; white-space: nowrap; }
.repgGrid th {padding:0 3px;;border:solid 1px #d1e29c;height:28px;line-height:28px;background:url(images/th-bk.png) 0 0 repeat-x;text-align:center;white-space:nowrap;}

